
body {
  background: #fff5ee;
  
}
.wave-container {
  display: grid;

  grid-template-areas: 
  "header header"
  "nav content1";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2.3fr 10fr;
}

.app-wave-content{
  grid-area: content1;
}





